<h2>Movies in this list</h2>
<div class="card" style="width: 18rem;">
<img class="card-img-top" src="<%=@list.list_poster_url%>">
<div class="card-body">
<h5 class="card-title"><%=@list.name%></h5>

<h2>Movies in this list</h2>
<div class="card" style="width: 18rem;">
<% @list.movies.each do |movie|%>
<img class="card-img-top" src="<%=movie.poster_url%>">
<div class="card-body">
<h5 class="card-title"><%=movie.title%></h5>
    <p class="card-text"><%=movie.overview%></p>
<% end %>
<hr>

<p><%= link_to 'Back to all lists', lists_path %></p>
<p><%= link_to 'Add a bookmark for this list', new_list_bookmark_path(@list)%></p>
